<div class="p-2 bg-light rounded">
    <h1 class="mt-3 text-center">MONGO ATLAS</h1>
  <p class="display-6 text-primary">Login de Usuario</p>
  <p>
    <form autocomplete="off" id="loginForm" method="POST">
      <div class="mb-3">
        <label class="form-label">Ingrese su email:</label>
        <input type="email" class="form-control" id="username" name="username" placeholder="Ingrese su email" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Ingrese su contraseña:</label>
        <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Ingrese su contraseña" required />
      </div>
      <button type="submit" class="btn btn-warning">Enviar</button>
      <hr>
          <div class="form-group mt-3">
            <a class="btn btn-primary" href="/signup"/>Registrarse</a>
          </div>
    </form>
  </p>
</div>

<script type="module" src="login.js"></script>