            {{#each mensajes}}
            <div>
                <strong style="color: blue;">{{email}}</strong><p style="display: contents; color: brown;">[{{fecha}}]</p>:<p style="display: contents; font-style: italic; color: green;">{{texto}}</p>
            </div>
            {{/each}} 