<div class="text-center mt-5">

  <main class="form-signin w-100 m-auto">
    <form autocomplete="off" id="loginForm" method="POST">
      <img class="mb-4" src="https://www.kindpng.com/picc/m/424-4245845_no-tiene-artculos-en-su-carrito-de-compras.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com" required>
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
      <p class="text-center mt-2">No tienes cuenta?<a href="/signup">Registrate!</a></p> 
    </form>
  </main>

</div>

<script type="module" src="login.js"></script>