<div class="p-2 bg-light rounded">
    <h1 class="mt-3 text-center">MONGO ATLAS</h1>
  <p class="display-6 text-primary">Login de Usuario</p>
  <p>
    <form action="/login" method="post">
      <div class="mb-3">
        <label class="form-label">Ingrese su nombre:</label>
        <input type="text" class="form-control" name="username" placeholder="Ingrese su nombre" required />
      </div>
      <button type="submit" class="btn btn-warning">Enviar</button>
    </form>
  </p>
</div>